.niveles {
  background: ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 0;
  padding: 0;
}
.rectangule {
  position: absolute;
  width: 400px;
  height: 0px;
  left: 527px;
  top: 120px;
  border: 3px solid #016e9f;
  margin: 10px;
}
.rectangule2 {
  position: absolute;
  width: 400px;
  height: 0px;
  left: 957px;
  top: 120px;
  border: 3px solid #016e9f;
  margin: 10px;
}
.status {
  display: inline-block;
  justify-content: center;
  width: 30px;
  height: 30px;
  /*background: #016E9F; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 200px;
}
.status::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.status.online {
  background: #016e9f;
}
.status.wait {
  background: #016e9f;
}
.status.offline {
  background: #016e9f;
}

.numero {
  color: white;
  text-align: center;
}


.row{
    margin: 0px 20px 0px 20px;
}

.input-group {

    margin: 10px 0px 30px 0px;
    width: 400px;
    height: 25px;
    border-width: 1px;
}

.tabla-descarga {
  background-color: white;
  border-width: 2px;
  padding: 100px;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.icono-pdf svg{
    width: 25px;
    height: 25px;
    color: red;
}
.icono-word svg{
    width: 25px;
    height: 25px;
    color: rgb(42, 89, 192);
}

.boton {
  text-align: center;
}

.button {
  background: #2c2e49;
  border-color: #016e9f;
  border-width: 1px;
  display: inline-block;
  font-size: 1;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 170px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.btn {
  background: white;
  border-color: #016e9f;
  border-width: 1px;
  display: inline-block;
  font-size: 1;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 170px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
